/*Universal CSS starts*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-repeat: no-repeat;
}
body{
     background: #e4e9f7;
     background-image: url(/images/appointmentdoc.jpg);
}


.container
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.box{
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
              0 32px 64px  -48px rgba(0, 0, 0, 0.5)
}
.form-box{
    width: 525px;
    margin: 0px 50px;
    height: 50vh;
}
.form-box header{
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 18px;
}
.form-box form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
 
  .form-box form .input input
  {
    height: 45px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  .button {
    background-color: #5663f3;
    color: white;
    padding: 0px 10px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    height: 35px
  }
  .button:hover{
    opacity: 0.82;
  }
  .submit{
    width: 100%;

  }
  .links{
    margin-bottom: 15px;
  }
